/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require jquery.fileupload
 *= require revolution
 *= require style-revolution-slider
 */
 @import "semantic-ui";

.ui.sidebar{ top: 35px}
.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;
  z-index: 10;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}
.fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.fixed.launch.button:hover {
  width: 150px;
}
.fixed.launch.button:hover .text {
  opacity: 1;
}
.ui.fluid.card.task{
  margin-top: -344px;
}

.ui.table td.p.description{
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

.ui.table td.description p{
  margin-bottom: 4px;
}

.ui.segment.login {
  margin-top: 100px;
  padding-left: 30px;
  padding-right: 30px;
}

.ui.segment.login span{
  padding-left: 20px;
}
