= render 'admin/users/opear'
= render 'admin/users/basic'
= render 'admin/users/analyze'
= render 'admin/users/address'
= render 'admin/users/wangwang'
= render 'admin/users/shop'

= render 'admin/users/auth'
