<div class="ui centered page grid">
  <div class="fourteen wide column">
    <div class="ui three column center aligned stackable divided grid">
      <div class="column">
        <div class="ui icon header">
          <i class="location arrow icon blue circular"></i>
          歪淘网优势
        </div>
        <p>业界卓越的技术力量，先进的解决方案。简单易懂的操作，更少限制带给会员更多方便。</p>
        <p><a class="ui button blue" href="/pages/youshi">查看</a><p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="checkmark icon circular red"></i>
          资金安全
        </div>
        <p>歪淘平台提供100%的资金安全，赚取资金随时提现。</p>
        <p><a class="ui button blue" href="/pages/anquan">查看</a><p>
      </div>
      <div class="column">
        <div class="ui icon header">
          <i class="compress icon circular green"></i>
          相关教程
        </div>
        <p>从菜鸟到老鸟，从开店到运营，从物流到渠道，从运维到推广，从流量到销量。</p>
        <p><a class="ui button blue" href="/pages/jiaocheng">Learn</a><p>
      </div>
    </div>
  </div>

  <div class="column sixteen wide">
    <div class="ui ordered steps fluid">
      <div class="step">
        <div class="content">
          <div class="title">加入歪淘网</div>
          <div class="description">通过邮箱注册即可加入歪淘网，为了安全我们会对所有的歪淘用户进行认证。</div>
        </div>
      </div>
      <div class="step">
        <div class="content">
          <div class="title">接手任务</div>
          <div class="description">只要你会淘宝购物，利用上网间隙时间10-30分钟就可以完成。</div>
        </div>
      </div>
      <div class="step">
        <div class="content">
          <div class="title">领取佣金</div>
          <div class="description">为了交易安全，部分佣金由歪淘网托管，交易成功24小时即可提现。</div>
        </div>
      </div>
    </div>
  </div>
</div>
