<p>你好:<%= @resource.email %>!</p>

<p>通过下面的链接您可以重设在歪淘网的密码</p>

<p>请点击 <%= link_to '重设密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
重设密码地址：<br />
<%= edit_password_url(@resource, reset_password_token: @token) %>
</p>
